### IDE Files ###
.idea
*.iml

### Gradle files ###
.gradle

### Build artifacts ###
/bin
/public
/artifacts

### Test artifacts ###
/test/coverage

### NPM files ###
/node_modules
npm-debug.log

### MAAAAC ###
.DS_Store
